<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <div class="row">
    <div class="col-md-6">
      <!-- Sección de la imagen vertical -->
      <img src="{{ productsArray[0]?.img }}" alt="Imagen" class="modal-image">
    </div>
    <div class="col-md-6">
      <!-- Sección de información -->
      <h3 class="product-name">{{ productsArray[0]?.name }}</h3>
      <p class="product-description">{{ productsArray[0]?.description }}</p>
      <p class="product-price">Precio: ${{ productsArray[0]?.price }}</p>
      <div class="input-group">
        <div class=" numbers btn-group">
          <button class="btn btn-secondary" type="button">-</button><!-- (click)="decrementarCantidad()"-->
          <input type="number" class="form-control" min="1" max="100" value="1"><!-- [(ngModel)]="cantidad" -->
          <button class="btn btn-secondary" type="button">+</button><!-- (click)="incrementarCantidad()" -->
        </div>
        <button name="boton" class="btn btn-primary" type="button">Agregar a carrito</button><!-- (click)="incrementarCantidad()" -->
      </div>
    </div>
  </div>
</body>
</html>
