
<!--
<div class="bootstrap-wrapper">
  <div>
    <div class="row">
      <div class="col-md-2">
        <app-customer-sidebar>
        </app-customer-sidebar>
        <div class="col-md-10">
          <router-outlet>
          </router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<!--
<mat-drawer-container  class="example-container">
  <mat-drawer mode="side" style="width: 17%;" opened><app-customer-sidebar></app-customer-sidebar></mat-drawer>
  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container>
-->
<mat-drawer-container  class="example-container">
  <mat-drawer mode="side" style="width: 17%;" opened><app-customer-sidebar></app-customer-sidebar></mat-drawer>
  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container>
