<mat-card>
  <div mat-subheader>
    <h1>
      Detalles de Empresa
    </h1>
  </div>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form *ngIf="company" (submit) ="actualizarCompany()">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Nombre de Empresa</mat-label>
              <input
              type="text"
              name="company.cp_Nombre"
              matInput
              [(ngModel)] = "company.cp_Nombre"
              >
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Direccion de Empresa</mat-label>
              <input
              type="text"
              name="company.cp_Direccion"
              matInput
              [(ngModel)] = "company.cp_Direccion"
              >
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Abreviatura de Empresa</mat-label>
              <input
              type="text"
              name="company.cp_abreviatura"
              matInput
              [(ngModel)] = "company.cp_abreviatura"
              >
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Hora de Apertura</mat-label>
              <input
              type="text"
              name="company.evento.ev_horaInicio"
              matInput
              [(ngModel)] = "company.evento.ev_horaInicio"
              >


            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Hora de Cierre</mat-label>
              <input
              type="text"
              name="company.evento.ev_horaCierre"
              matInput
              [(ngModel)] = "company.evento.ev_horaCierre"
              >
            </mat-form-field>
            <div class="container text-center mt15">
              <button mat-raised-button color="primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

