<mat-card>
  <mat-list>
    <div mat-subheader>
      <h1>
        Listar Categorias
      </h1>
    </div>
    <div mat-subheader>
      <button type="button" class="btn btn-primary"
      routerLink="/admin/add-category">
        Agregar Categoria
      </button>
    </div>
    <br>
    <div mat-subheader>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search"
        placeholder="Search" aria-label="Search"
        name="search"
        [(ngModel)]="search"
         >
        <button class="btn btn-outline-success my-2 my-sm-0"
        type="submit" (click)="listarCategoryPorNombrePagina()" >Search</button>
      </form>
    </div>
    <br>
    <table class="table">
      <thead style="border-left-color: black; text-align: center;">
        <tr>
          <th class="col-md-3">ID</th>
          <th class="col-md-3">Nombre</th>
          <th class="col-md-3">Imagen</th>
          <th class="col-md-3">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align: center;" *ngFor="let c of category">
          <td class="align-middle">{{c.id}}</td>
          <td class="align-middle">{{c.nombre}}</td>
          <td class="align-middle"><img src="{{c.img}}" alt="" class="img-fluid" style="max-width: 60%;"></td>
          <td class="align-middle">
            <button type="button"  class="btn btn-warning"
            [routerLink]="'/admin/edit-category/'+c.id"><mat-icon>edit</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-list>
</mat-card>

<nav aria-label="Page navigation example" style="margin-top: 15px;">
  <ul class="pagination justify-content-end">
    <li class="page-item" style="margin-left: 25px; margin-right: 25px;">
      <div>Items por pagina {{size}}</div>
    </li>
    <li class="page-item">
      <div>Pagina {{page+1}}</div>
    </li>
    <li class="page-item" style="margin-left: 25px;">
      <div> hasta {{totalPages.length}}</div>
    </li>
    <li class="page-item">
      <a style="margin: 15px; margin-top: 25px;" (click)="paginaAnterior()"><mat-icon>skip_previous</mat-icon></a>
    </li>
    <li class="page-item">
      <a style="margin: 15px;"(click)="paginaSiguiente()" ><mat-icon>skip_next</mat-icon></a>
    </li>
  </ul>
</nav>

