<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div>
    <app-loading-spinner *ngIf="loading"></app-loading-spinner>

  </div>

 <div class="class-container-fluid" >
  <div class="class-container">
    <div class="class-row">

    </div>
    <div class="class-col-md-12 p-3 mt-3">
        <div class="class-row">
          <div class="row">
            <div class="col-md-4" *ngFor="let data of entityArray; let i index "><!--Aqui se agregara el for-->

              <div class="text-center">

                <div class="card rounded-circle border border-primary mx-auto box " style="width: 12.8rem;" (click)="redireccionar(data.id)">
                  <img src="{{ data.img}}" class="card-img-top rounded-circle" alt="Imagen no disponible" width="100" height="200" >

                </div>
                <div  ><h2 class="food-name">{{ data.nombre | titlecase }}</h2></div><!-- Mover el texto debajo de la imagen -->


                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
