<mat-card>
  <div mat-subheader>
    <h1>
      Agregar Producto
    </h1>
  </div>
  <mat-card-content>
    <div class="row">
      <div class="col-md-12 mb-4">
        <div class="card mb-4">
          <div class="card-body">
            <form (ngSubmit)="agregarProduct()">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-6">
                <div class="col">
                  <div class="form-outline">
                    <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Nombre de producto</mat-label>
                    <input
                    required
                    autofocus
                    type="text"
                    name="product.nombre"
                    matInput
                    placeholder="Digie el nombre del producto"
                    [(ngModel)] = "product.nombre">
                  </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Descripcion</mat-label>
                      <input
                      required
                      autofocus
                      type="text"
                      name="product.descripcion"
                      matInput
                      placeholder="Digite una descripcion"
                      [(ngModel)] ="product.descripcion">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-6">
                <div class="col">
                  <div class="form-outline">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Precio de Venta</mat-label>
                      <input
                      required
                      autofocus
                      type="number"
                      name="roduct.precioVenta"
                      matInput
                      placeholder="Digite el precio de venta"
                      [(ngModel)] ="product.precioVenta"
                      >
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>URL de Imagen</mat-label>
                      <input
                      required
                      autofocus
                      type="text"
                      name="product.urlImagen"
                      matInput
                      placeholder="Ingrese una direccion URL"
                      [(ngModel)] ="product.urlImagen"
                      >
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-6">
                <div class="col">
                  <div class="form-outline">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Categoria</mat-label>
                      <mat-select name="category"  [(ngModel)] ="product.category.id">
                        <mat-option *ngFor="let c of categorys"[value]="c.id">
                          {{c.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Ganancia</mat-label>
                      <input
                      required
                      autofocus
                      type="number"
                      name=""
                      matInput>
                    </mat-form-field>
                  </div>

                </div>
              </div>

              <br>
              <br>
              <div class="containter text-center mt15">
                <button mat-raised-button color="primary">Guardar</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
