
<!--
<div class="bootstrp-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <app-sidebar>
        </app-sidebar>
      </div>
      <div class="col-md-9">
        <router-outlet>
        </router-outlet>
      </div>
    </div>
  </div>
</div>
-->


<mat-drawer-container  class="example-container">
  <mat-drawer mode="side" style="width: 17%;" opened><app-sidebar></app-sidebar></mat-drawer>
 
  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container>

