<mat-action-list>
  <div mat-subheader>Menu</div>
  <button routerLink="/admin" mat-list-item>
    <mat-icon>view_carousel</mat-icon>
    Inicio
  </button>
  <button mat-list-item routerLink="/admin/list-category">
    <mat-icon>category</mat-icon>
    Categorìas
  </button>
  <button mat-list-item routerLink="/admin/list-product">
    <mat-icon>fastfood</mat-icon>
    Productos
  </button>
  <button mat-list-item routerLink="/admin/list-plate">
    <mat-icon>
      dinner_dining
    </mat-icon>
    Platos
  </button>
  <button mat-list-item routerLink="/admin/list-employee">
    <mat-icon>perm_identity</mat-icon>
    Empleados
  </button>
  <button mat-list-item routerLink="/admin/list-branch-office">
    <mat-icon>store</mat-icon>
    Sucursales
  </button>


  <button mat-list-item routerLink="/admin/list-company">
    <mat-icon>business</mat-icon>
    Empresa
  </button>
  <button mat-list-item (click)="logout()">
    <mat-icon>keyboard_backspace</mat-icon>
    Salir
  </button>
</mat-action-list>
